target/

.settings/
.idea/

*.iml
*.log

.classpath
.project
.git-credentials
.*-credentials

node_modules/
docs/test/
docs/*.yml
docs/bower.json
docs/CONTRIBUTING.md
docs/demo.html
docs/LICENSE
docs/README.md
*.tmp

package-lock.json
