target/

.settings/
.idea/

*.iml
*.log

.classpath
.project
.git-credentials
.*-credentials

node_modules/
public/test/
public/*.yml
public/bower.json
public/CONTRIBUTING.md
public/demo.html
public/LICENSE
public/README.md
*.tmp

package-lock.json